/* WYSIWYG editor styling */
.entry {
    background-color: #EEE;
    border-radius: 4px;
    margin-bottom: 1px;
}

.entry .name, .entry .username, .entry .password, .entry .tools {
    float: left;
    padding: 3px;
    margin: 2px;
    border-radius: 4px;
}

.entry .name {
    width: 250px;
    font-weight: bold;
    /*background-color: #CCC;*/
    background-color: #444;
    color: white;
}

.entry .username {
    width: 250px;
    background-color: white;
}

.entry .password {
    width: 200px;
    background-color: #CCC;
}

.entry .tools {
    width: 180px;
    /*background-color: black;
    color: white;*/
}

.entry p {
    margin: 0;
}

.entry .fields dl {
    padding-bottom: 2px;
    margin: 0;
}

.entry .fields dt {
    font-weight: bold;
    padding: 3px;
}

.entry .fields dd {
    background-color: white;
    border-radius: 4px;
    margin: 0 4px 4px 20px;
    padding: 3px;
}

/*.entry .removefield {
    background-image: url('/media/icon/delete.png');
    width: 5px;
    height: 5px;
}*/
