body {
    margin-top: 1em;
    font-size: 16px;
}

/* Style the entries a bit */
.entry .name, .entry .username, .entry .password {
    border: 1px solid #888;
    border-radius: 3px;
    margin: 2px;
    padding: 3px;
}

.entry .name {
    font-weight: bold;
}

.entry .username, .entry .password {
    background-color: #f8f8f8;
}

.entry .glyphicon {
    font-size: 150%;
}

/* Notes are hidden by default */
.entry .notes {
    display: none;
}

/* Allow using text-primary to color only some links */
.entry a {
    color: black;
}

.editpage {
    display: none;
}
